.menu {
    min-width: 240px;
    max-width: 400px;
    .list {
        min-height: 120px;
        padding-bottom: 8px;
        display: flex;
        flex-direction: column;
        color: rgb(22, 24, 35);
        .item {
            width: 100%;
            font-weight: 600;
            line-height: 21px;
            justify-content: start;
            padding: 10px;
            margin: 0;
            border-radius: none;
            &:hover {
                border-radius: 0;
                text-decoration: none;
                background-color: rgba(22, 24, 35, 0.03);
            }
        }
    }
    .separeat{
        border-top: 1px solid #ccc;
    }
}

// header
.menu-header {
    position: relative;
    height: 50px;
    margin-top: -8px;
}

.header-btn {
    height: 100%;
    width: 50px;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    font-size: 1.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
}
