.wrapper {
    --broder: rgba(22, 24, 35, 0.2);
    --search-bg: rgba(22, 24, 35, 0.06);

    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 1px rgb(0 0 0/12%);
}

.inner {
    width: var(--container-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}


.action {
    display: flex;
    justify-content: center;
    align-items: center;

    .action-btn {
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 32px;
        height: 32px;
        margin-left: 10px;
    }
    .inbox-btn {
        position: relative;
        margin-right: 10px;

        .badge {
            position: absolute;
            font-size: 1.4rem;
            top: -8px;
            right: -25px;
            padding: 0 6px;
            color: #fff;
            background-color: var(--primary);
            border-radius: 30px;
        }
    }
}



.Ellipsis-btn {
    margin-left: 20px;
    padding: 6px 8px;
    background-color: transparent;
    cursor: pointer;
}

.avata-user {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 20px;
    cursor: pointer;
}
